<section class="section section--fs bg-ultra-light-grey">
  <div class="container-fluid">
    <header class="grid__header">
      <h2 class="text-green">
        <span class="icon icon--strokes-left"></span> 
         events 
        <span class="icon icon--strokes-right"></span>
      </h2>
    </header>

    <div class="row">

       <div class="col-xs-12 col-md-6">
        <div class="row">
          <figure class="col-xs-12 col-md-4 col-lg-3 grid__figure">
            <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
          </figure>
          <div class="col-xs-12 col-md-8 col-lg-9">
            <h6 class="text-blue">
              Unhinged
            </h6>
            <p>
              <span class="text-bold">
                When:
              </span>
              <span class="text-italic">
                Nov 12th - Dec 10th
              </span><br>
              <span class="text-bold">
                Where:
              </span>
              <span class="text-italic">
                Becks Southern Alehouse, 155 Colombo Street, Somerfield, Christchurch
              </span><br>
            </p>
          </div>
        </div>
        <hr class="hr hr--dark">
      </div>

       <div class="col-xs-12 col-md-6">
        <div class="row">
          <figure class="col-xs-12 col-md-4 col-lg-3 grid__figure">
            <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
          </figure>
          <div class="col-xs-12 col-md-8 col-lg-9">
            <h6 class="text-blue">
              Unhinged
            </h6>
            <p>
              <span class="text-bold">
                When:
              </span>
              <span class="text-italic">
                Nov 12th - Dec 10th
              </span><br>
              <span class="text-bold">
                Where:
              </span>
              <span class="text-italic">
                Becks Southern Alehouse, 155 Colombo Street, Somerfield, Christchurch
              </span><br>
            </p>
          </div>
        </div>
        <hr class="hr hr--dark">
      </div> <div class="col-xs-12 col-md-6">
        <div class="row">
          <figure class="col-xs-12 col-md-4 col-lg-3 grid__figure">
            <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
          </figure>
          <div class="col-xs-12 col-md-8 col-lg-9">
            <h6 class="text-blue">
              Unhinged
            </h6>
            <p>
              <span class="text-bold">
                When:
              </span>
              <span class="text-italic">
                Nov 12th - Dec 10th
              </span><br>
              <span class="text-bold">
                Where:
              </span>
              <span class="text-italic">
                Becks Southern Alehouse, 155 Colombo Street, Somerfield, Christchurch
              </span><br>
            </p>
          </div>
        </div>
        <hr class="hr hr--dark">
      </div>
       <div class="col-xs-12 col-md-6">
        <div class="row">
          <figure class="col-xs-12 col-md-4 col-lg-3 grid__figure">
            <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
          </figure>
          <div class="col-xs-12 col-md-8 col-lg-9">
            <h6 class="text-blue">
              Unhinged
            </h6>
            <p>
              <span class="text-bold">
                When:
              </span>
              <span class="text-italic">
                Nov 12th - Dec 10th
              </span><br>
              <span class="text-bold">
                Where:
              </span>
              <span class="text-italic">
                Becks Southern Alehouse, 155 Colombo Street, Somerfield, Christchurch
              </span><br>
            </p>
          </div>
        </div>
        <hr class="hr hr--dark">
      </div>
       <div class="col-xs-12 col-md-6">
        <div class="row">
          <figure class="col-xs-12 col-md-4 col-lg-3 grid__figure">
            <img src="//via.placeholder.com/100x70" alt="" class="grid__img">
          </figure>
          <div class="col-xs-12 col-md-8 col-lg-9">
            <h6 class="text-blue">
              Unhinged
            </h6>
            <p>
              <span class="text-bold">
                When:
              </span>
              <span class="text-italic">
                Nov 12th - Dec 10th
              </span><br>
              <span class="text-bold">
                Where:
              </span>
              <span class="text-italic">
                Becks Southern Alehouse, 155 Colombo Street, Somerfield, Christchurch
              </span><br>
            </p>
          </div>
        </div>
        <hr class="hr hr--dark">
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>