<div class="cart">
  <table class="cart__item">
    <thead class="cart__item-header">
      <tr class="cart__item-row">
        <th colspan="5" class="cart__item-header-cell text-left">
          <i class="fa fa-times cart__item-remove"></i>
          <span class="cart__item-heading">YHA Auckland City</span>
        </th>
      </tr>
    </thead>
    <tbody class="cart__item-body">
      <tr class="cart__item-row">
        <th class="cart__item-header-cell">Bed</th>
        <th class="cart__item-header-cell">Room</th>
        <th class="cart__item-header-cell">Nights</th>
        <th class="cart__item-header-cell">Pax</th>
        <th class="cart__item-header-cell">Sub Total</th>
      </tr>
      <tr class="cart__item-row">
        <td class="cart__item-cell">
          <i class="fa fa-times cart__item-cell-na"></i>
        </td>
        <td class="cart__item-cell">2</td>
        <td class="cart__item-cell">12</td>
        <td class="cart__item-cell">4</td>
        <td class="cart__item-cell">NZD 5000</td>
      </tr>
    </tbody>
  </table>

  <table class="cart__item">
    <thead class="cart__item-header">
      <tr class="cart__item-row">
        <th colspan="5" class="cart__item-header-cell text-left">
          <i class="fa fa-times cart__item-remove"></i>
          <span class="cart__item-heading">YHA Auckland City</span>
        </th>
      </tr>
    </thead>
    <tbody class="cart__item-body">
      <tr class="cart__item-row">
        <th class="cart__item-header-cell">Bed</th>
        <th class="cart__item-header-cell">Room</th>
        <th class="cart__item-header-cell">Nights</th>
        <th class="cart__item-header-cell">Pax</th>
        <th class="cart__item-header-cell">Sub Total</th>
      </tr>
      <tr class="cart__item-row">
        <td class="cart__item-cell">4</td>
        <td class="cart__item-cell">
          <i class="fa fa-times cart__item-cell-na"></i>
        </td>
        <td class="cart__item-cell">12</td>
        <td class="cart__item-cell">4</td>
        <td class="cart__item-cell">NZD 5000</td>
      </tr>
    </tbody>
  </table>
</div>