<div class="col-xs-12 col-md-6 col--compact hidden-xs hidden-sm text-center">
  <div class="map-canvas">
    <svg id="nz-map" version="1.1" xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
    viewBox="0 0 492.9 541" style="enable-background:new 0 0 492.9 541;" 
    xml:space="preserve">
      <!-- NORTH ISLAND  -->
      <g class="map__island">
        <rect class="map__island-label-overlay" x="143" y="151" width="158" height="62"/>
        <a xlink:href="#">
          <text class="map__island-label" transform="matrix(1 0 0 1 156.4104 172.776)">
            <tspan x="0" y="0">NORTH ISLAND </tspan>
            <tspan x="55.5" y="25.6">HOSTELS</tspan>
          </text>
        </a>

        <path d="M337.7,275.4c1.7-2.9,3.1-6.2,5.4-8.9c8.4-10,13.1-21.1,12-34.5c-0.6-6.8-7.6-14.6-14.3-16
        c-3.3-0.7-6.5-2.4-9.5-4c-4.6-2.4-9.4-4.5-13.4-7.7c-3.1-2.5-5.9-6.1-7.3-9.7c-1.6-4.2,1.3-7,5.5-8.5c4.3-1.5,8.7-2.9,12.5-5.3
        c2.8-1.7,5.4-4.6,6.7-7.6c4-9.1,4.4-19.3,6.8-28.7c3.1-12.5-0.6-26.8-7.6-39.2c-4-7.2-6.8-15-10.5-23.5c2.3,0.8,3.9,1.3,5.5,1.9
        c0.4-0.3,0.9-0.6,1.3-0.9c-2.1-2.9-4.2-5.9-6.7-9.3c-2.6,4.2-4.6,7.5-7.7,0.2c-2.6-6-7.2-11.1-11-16.6c-4.8-6.9-9.8-13.7-14.6-20.6
        c-0.4-0.6-0.8-1.5-0.6-2.1c3.4-12.5-5.7-19.3-12.1-27.3c-0.6-0.8-1.1-1.6-1.8-2.6c3.3-0.6,6.2-1.2,7.8-1.5c2.7,5.6,4.6,11,7.9,15.4
        c1.7,2.3,5.8,2.7,10.8,4.9c4.9-1.9,9.9,0.8,14.1,7.3c1.5,2.3,5.9,2.8,10.8,5c1.4,3.3,4.1,8.7,5.9,14.4c0.6,2.1,5.1,6.6-1.8,7.4
        c0.7,2.4,0.7,6,2.3,6.9c7.7,4.7,9.6,10.6,7,19.1c-1,3.2,0.8,7.5,2.2,11c1.6,3.9,4.2,3.4,10.2-2.1c1.5,4.3,2.6,8.6,4.5,12.5
        c1,2,3.5,3.2,5.4,4.7c0.6-2.2,1.9-4.5,1.7-6.7c-0.3-3.6-1.3-7.1-2.3-10.6c-1-3.5-2.3-7-2.4-11.2c3.7,3.8,7.3,7.6,11,11.4
        c0.4,0.7,0.4,2,0.9,2.7c6.2,7.9,2.9,17.9,6.3,26.2c1.2,2.9,3.6,6.1,6.2,7.4c8.6,4.2,17.7,7.3,26.4,11.3c6.8,3.1,13.2,2.1,18.2-3.8
        c2.3-2.7,4.6-5.4,7.2-7.8c7.4-6.8,15-3.8,23,0.5c-1.7,3.7-3.9,7.4-4.9,11.5c-1.1,4.3-0.5,9.1-1.7,13.4c-1.4,4.9-2.9,11.8-6.5,13.6
        c-8.2,4.2-5.8,10.8-6.6,16.8c-0.3,2,0,4.1,0,4.6c-3.5-1.8-6.3-4.2-9.3-4.6c-11-1.7-19.7,4.5-21.8,15.1c-0.3,1.7-0.4,4,0.4,5.3
        c7.2,11.2-1.5,19.2-5.9,27.6c-4.1,7.9-10.5,14.5-14.2,22.5c-5.5,12-12.4,22.6-23.2,30.3c-2.5,1.8-6,2.3-9,3.4
        c-2.7-4.3-2.1-11.9-10.4-8C344.8,281.2,341.4,277.7,337.7,275.4z"/>

        <g class="map__gateway">
          <rect class="map__gateway-overlay" x="219" y="68" width="87" height="26"/>
          <a xlink:href="#">
            <text class="map__region-label" transform="matrix(1 0 0 1 227.2943 86.5992)">Auckland</text>
            <circle class="map__marker map__marker--lg" cx="346" cy="93.3" r="5.78" data-tooltip="Auckland International Airport" />
            <circle class="map__marker map__marker--lg" cx="335" cy="93.3" r="5.78" data-tooltip="Auckland City" />
            <rect class="mapp__label-hr" x="225.46" y="95.41" width="108.08" height="1" />
          </a>
          
        </g>

        <g class="map__gateway">
          <rect class="map__gateway-overlay" y="248" height="26" x="395" width="110"></rect>
          <a xlink:href="#">
            <text class="map__region-label" transform="translate(402 267.1)">Wellington</text>
            <circle class="map__marker map__marker--lg" cx="344" cy="275" r="5.78" />
            <rect class="mapp__label-hr" x="348.28" y="274.91" width="143.08" height="1" />
          </a>
        </g>

        <g class="map__regions">
          <circle class="map__marker" cx="291.2" cy="27.7" r="4.5" data-tooltip="Ahipara"></circle>
          <circle class="map__marker" cx="318.2" cy="27.7" r="4.5" data-tooltip="Bay of Islands The Rock Cruise"></circle>
          <circle class="map__marker" cx="315.5" cy="36.6" r="4.5" data-tooltip="Paihia"></circle>
          <circle class="map__marker" cx="322.6" cy="50.3" r="4.5" data-tooltip="Whangarei"></circle>
          <circle class="map__marker" cx="370" cy="95.6" r="4.5" data-tooltip="Whitianga"></circle>
          <circle class="map__marker" cx="342.9" cy="140.8" r="4.5" data-tooltip="Raglan"></circle>
          <circle class="map__marker" cx="351.9" cy="151.2" r="4.5" data-tooltip="Waitomo"></circle>
          <circle class="map__marker" cx="386.8" cy="149.7" r="4.5" data-tooltip="Rotorua"></circle>
          <circle class="map__marker" cx="380.4" cy="172.4" r="4.5" data-tooltip="Taupo"></circle>
          <circle class="map__marker" cx="440.1" cy="170.1" r="4.5" data-tooltip="Gisborne"></circle>
          <circle class="map__marker" cx="406.8" cy="204" r="4.5" data-tooltip="Napier"></circle>
          <circle class="map__marker" cx="318.4" cy="187.4" r="4.5" data-tooltip="New Plymouth"></circle>
          <circle class="map__marker" cx="361.8" cy="191.9" r="4.5" data-tooltip="National Park"></circle>
          <circle class="map__marker" cx="359.9" cy="206.4" r="4.5" data-tooltip="Ohakune"></circle>
          <circle class="map__marker" cx="350.4" cy="222.8" r="4.5" data-tooltip="Whanganui"></circle>
        </g>
        
      </g>
      <!-- END NORTH ISLAND  -->

      <!-- SOUTH ISLAND  -->
      <g class="map__island">
        <rect class="map__island-label-overlay" x="255" y="413" width="158" height="62"/>

        <a xlink:href="#">
          <text class="map__island-label" transform="matrix(1 0 0 1 265.93 436.776)">
            <tspan x="0" y="0">SOUTH ISLAND </tspan>
            <tspan x="0" y="25.6">HOSTELS</tspan>
          </text>
        </a>

        <path class="st0" d="M276.2,243.5c-0.9,7.7,0.5,13.4,9.4,12.2c1.6,7,3,13.8,4.7,21.3c7.6-3.6,7.8-14.9,18.5-9.9
        c-2.5-8.3,0.6-11.5,6.4-13.4c-0.8,4.3-1.5,7.8-1.8,11.3c0,0.3,3.1,1.6,4.1,1.1c6.3-3.2,8.3-2.8,13.7,4c-3.2,2.3-6.8,4.3-9.4,7.1
        c-1.6,1.8-2.7,5.3-2.1,7.4c1.1,3.9,3.7,7.4,5,9.8c-10,16.5-19.1,32.4-29,47.7c-2.6,4-7,7.3-11.3,9.6c-6,3.2-5.6,8.6-6.6,13.7
        c-1.3,6.9,2.2,9.7,8.7,10.7c1.2,0.2,2.8,3.6,2.6,5.3c-0.2,1.8-2.7,4.8-3.8,4.6c-4.5-0.7-9.5-1.5-13.1-4.1
        c-3.1-2.2-4.1-3.1-5.7,0.9c-0.6,1.4-2,2.7-3.3,3.4c-8.2,4.6-16.8,8.6-24.8,13.6c-9,5.7-8.9,15.5-9.5,24.8
        c-0.1,1.5,0.7,3.3,0.2,4.5c-4.3,10.5-8.9,20.9-13.1,31.4c-1.1,2.8-0.9,6.2-2,9.1c-0.8,1.9-2.6,4.3-4.4,4.9
        c-5.6,1.6-9.5,4.2-11.3,10.1c-0.6,2.2-3.4,3.7-5,5.6c-2.7,3.2-5.6,6.3-7.9,9.8c-4.6,6.9-22.9,10.5-30.8,7.3
        c-4.8-1.9-10.8-0.8-16.3-1c0.1-7.5-2.2-9.8-9.7-9.7c-4.1,0-8.1,0.9-9.1-5.6c-0.4-2.8-4.7-5.7-9.4-2.3c-6.8,5-14.1,0.1-21.3,0
        c-0.6,0-1.1-1.9-1.7-2.8c-1.4-2.3-2.6-5-4.4-6.9c-3.1-3.3-2-7.3,4.9-10.2c-2.3-1.3-3.8-2.2-4.2-2.4c4.1-7.2,7.6-14.4,12-21
        c3.9-5.9,7.7-12.4,13.1-16.7c9.7-7.8,16.4-17.9,24.4-27c4.6-5.3,8.3-13.2,18.3-11c2.3,0.5,5.5-3.1,8.2-5
        c11.7-8.4,24-16.1,34.8-25.6c5.9-5.2,11.9-9.7,18.6-13.9c11.8-7.4,17.8-19.5,20.3-33.2c1.7-9.5,4.6-17.5,14.4-22.3
        c8.3-4,11.5-12.6,10.6-21.4c-0.8-7.8,0.7-13.2,7.6-17.5c3.4-2.2,5.6-6.4,8.3-9.7C274.8,242.7,275.5,243.1,276.2,243.5z"/>
        <!-- STEWART ISLAND  -->
        <path class="st0" d="M113.8,537.3c1.2-9,12.4-14.4,6.3-24.2c9.4-2.3,10.8-1.2,11.4,8.3c0,0.4,0.2,1,0.5,1.3
        c9.1,7.7-0.2,7.4-4.1,9.1C123.4,533.8,113.2,540.1,113.8,537.3z"/>

        <g class="map__gateway">
          <rect x="300" height="24" y="342" width="113" class="map__gateway-overlay"></rect>
          <a xlink:href="#">
            <text class="map__region-label" transform="translate(310 360.1)">Christchurch</text>
            <circle class="map__marker map__marker--lg" cx="268" cy="367.67" r="5.78" data-tooltip="Christchurch Rolleston House" />
            <circle class="map__marker map__marker--lg" cx="280" cy="367.67" r="5.78" data-tooltip="Christchurch" />
          </a>
          <rect class="mapp__label-hr" x="285" y="367.91" width="128.38" height="1" />
        </g>
        
        <g class="map__gateway">
          <rect class="map__gateway-overlay" x="0" y="417" width="108" height="26"/>
          <a xlink:href="#">
            <text class="map__region-label" transform="translate(4 435)">Queenstown</text>
            <circle class="map__marker map__marker--lg" cx="160" cy="445" r="5.78" data-tooltip="Queenstown Central" />
            <circle class="map__marker map__marker--lg" cx="147" cy="445" r="5.78" data-tooltip="Queenstown Lakefront" />
          </a>
          <rect class="mapp__label-hr" x="2.5" y="445" width="140" height="1" />
        </g>

        <g class="map__regions">
          <circle class="map__marker" cx="275.3" cy="257.3" r="4.5" data-tooltip="Golden Bay"></circle>
          <circle class="map__marker" cx="293.6" cy="277.2" r="4.5" data-tooltip="Nelson"></circle>
          <circle class="map__marker" cx="313.4" cy="281.2" r="4.5" data-tooltip="Picton"></circle>
          <circle class="map__marker" cx="244.6" cy="293.9" r="4.5" data-tooltip="Westport"></circle>
          <circle class="map__marker" cx="230.8" cy="314.1" r="4.5" data-tooltip="Punakaiki"></circle>
          <circle class="map__marker" cx="217.5" cy="341.6" r="4.5" data-tooltip="Hokitika"></circle>
          <circle class="map__marker" cx="279.5" cy="331.7" r="4.5" data-tooltip="Hanmer Springs"></circle>
          <circle class="map__marker" cx="245.6" cy="343.1" r="4.5" data-tooltip="Arthur's Pass"></circle>
          <circle class="map__marker" cx="256" cy="357.7" r="4.5" data-tooltip="Springfield"></circle>
          <circle class="map__marker" cx="179.9" cy="374.9" r="4.5" data-tooltip="Franz Josef"></circle>
          <circle class="map__marker" cx="190.7" cy="390" r="4.5" data-tooltip="Aoraki Mt Cook"></circle>
          <circle class="map__marker" cx="217.2" cy="440.8" r="4.5" data-tooltip="Oamaru"></circle>
          <circle class="map__marker" cx="164.6" cy="430.1" r="4.5" data-tooltip="Wanaka"></circle>
          <circle class="map__marker" cx="135.9" cy="426.9" r="4.5" data-tooltip="Glenorchy"></circle>
          <circle class="map__marker" cx="120.8" cy="454" r="4.5" data-tooltip="Te Anau"></circle>
        </g>

      </g>
      <!-- END SOUTH ISLAND  -->
    </svg>
  </div>
  <!-- /.map-canvas  -->
</div>