<footer class="footer">
  <div class="footer__upper">
    <div class="container container--compact">
      <div class="row row--compact">
        <div class="col-xs-12 col-md-3 col--compact">
          <div class="panel">
            <h2 class="panel__heading text-green"><span class="hr hr--orange"></span>Local stories</h2>
            <p class="panel__info">YHA New Zealand has worked with some of the...</p>
            <p><a href="#" class="link link--blue">Read more</a></p>
            <p><img src="/graphics/logos/carbon.png" alt=""></p>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-1 col--compact">
          <form class="form footer__newsletter-form text-center" action="#" method="post">
            <h2 class="form__heading text-blue"><span class="hr hr--ctr hr--orange"></span> Newsletter</h2>
            <p class="form__intro">Get latest YHA New Zealand updates straight into your inbox</p>
            <fieldset class="form__fieldset footer__newsletter-form__fieldset">
              <div class="form__group">
                <div class="form__input-group">
                  <input class="form__control footer__newsletter-form__input" name="email-address" autocomplete="off" required placeholder="Enter your email" type="text">
                  <span class="form__input-group-addon form__input-group-addon--ghost">
                    <button type="submit" class="btn btn--grunge btn--green btn--hover-orange footer__newsletter-form__btn">Submit</button>
                  </span>
                </div>
              </div>
            </fieldset>
            <p>Freephone (within NZ) <span class="text-orange text-highlight">0800 278 299</span></p>
          </form>
        </div>
        <div class="col-xs-12 col-md-4 col--compact">
          <a href="#" class="footer__badge"></a>
          <div class="clear"></div>
          <ul class="social-icons footer__social-icons">
            <li class="social-icons__item">
              <a href="#" class="social-icons__link">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="social-icons__item">
              <a href="#" class="social-icons__link">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li class="social-icons__item">
              <a href="#" class="social-icons__link">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="social-icons__item">
              <a href="#" class="social-icons__link">
                <i class="fa fa-weibo"></i>
              </a>
            </li>
            <li class="social-icons__item">
              <a href="#" class="social-icons__link">
                <i class="fa fa-wechat"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.footer__upper -->
  <div class="footer__lower">
    <div class="container container--compact">
      <div class="row row--compact">
        <div class="col-xs-12 col-md-9 col--compact">
          <div class="row row--compact">
            <div class="col-xs-12 col-md-4 col--compact">
              <nav class="nav">
                <h2 class="nav__heading"><a href="#">Terms & Conditions</a></h2>
                <ul class="nav__list text-orange">
                  <li class="nav__item">
                    <a href="#" class="nav__link">Cancellations & Refunds</a>
                  </li>
                  
                  <li class="nav__item">
                    <a href="#" class="nav__link">Trademarks</a>
                  </li>
                </ul>
              </nav>
              <!-- /.nav  -->
            </div>
            <!-- /.col-md-4  -->
            <div class="col-xs-12 col-md-4 col--compact">
              <nav class="nav">
                <h2 class="nav__heading"><a href="#">Our Organisation</a></h2>
                <ul class="nav__list text-orange">
                  <li class="nav__item">
                    <a href="#" class="nav__link">Careers</a>
                  </li>
                  <li class="nav__item">
                    <a href="#" class="nav__link">Become a YHA associate</a>
                  </li>
                  <li class="nav__item">
                    <a href="#" class="nav__link">Advertising</a>
                  </li>
                </ul>
              </nav>
              <!-- /.nav  -->
            </div>
            <!-- /.col-md-4  -->
            <div class="col-xs-12 col-md-4 col--compact">
              <nav class="nav">
                <h2 class="nav__heading"><a href="#">Our New Members</a></h2>
                <ul class="nav__list text-orange">
                  <li class="nav__item">
                    <a href="#" class="nav__link">Annual Reports</a>
                  </li>
                  <li class="nav__item">
                    <a href="#" class="nav__link">Meet Ups</a>
                  </li>
                  <li class="nav__item">
                    <a href="#" class="nav__link">Leaving a Legacy</a>
                  </li>
                </ul>
              </nav>
              <!-- /.nav  -->
            </div>
            <!-- /.col-md-4  -->
          </div>
        </div>
        <div class="col-xs-12 col-md-3 col--compact">
          <form action="#" method="post" class="form footer__lower-form">
            <h2 class="form__heading footer__lower-form-heading text-blue">Agent Login</h2>
            <fieldset class="form__fieldset">
              <div class="form__group">
                <input class="" name="email-address" id="email-address" placeholder="Email" type="email" autocomplete="off">
              </div>
              <div class="form__group">
                <input class="" name="password" id="password" placeholder="Password" type="password" autocomplete="off">
              </div>
              <div class="form__group">
                <button type="submit" name="login" value="1" class="link link--blue pull-right">Login</button>
                <label>
                  <input type="checkbox" name="remember-me" value="1"> Remember Me 
                </label>
                <div class="clear"></div>
              </div>
              <div class="form__group">
                <a href="#" class="link-default"><u>Forgot Password?</u></a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <!-- /.row  -->
      <div class="row row--compact">
        <div class="col-xs-12">
          <a href="#" class="btn btn--grunge btn--blue btn--hover-orange footer__lower__scroll-btn">Back to Top</a>
          <p class="footer__lower__credits">&copy; Copyright YHA New Zealand 
            Backpacker Hostel Accommodation 2017  |  Tourism Websites by 
            <a href="#" class="text-orange"><strong>Tomahawk</strong></a>
          </p>
          <div class="clear"></div>
        </div>
      </div>
      <!-- /.row  -->
    </div>
  </div>
  <!-- /.footer__lower -->
</footer>
<!-- /.footer  -->