  <header class="header">
    <div class="header__inner">
      <a href="#" class="btn btn--orange btn--hover-green header__cta-btn">
        <span class="visible-xs">Book Now</span>
        <span class="hidden-xs">Book My Hostel</span>
      </a>
      <!-- /.header__cta-btn -->
      
      <a href="#primary-nav" class="header__nav-toggler">
        <i class="fa fa-bars header__nav-toggler__icon"></i>
      </a>
      <!-- /.header__nav-toggle -->
      
      <a href="/" class="header__logo">
        <img src="/graphics/logo.png" alt="Hosteling Internationals, YHA New Zealand" class="header__logo__img">
      </a>
      <!-- /.header__logo -->
      
      <nav id="primary-nav" class="header__nav">
        <ul class="header__nav__list">
          <li class="header__nav__item">
            <a href="#" class="header__nav__link">Hostels</a>
          </li>
          <li class="header__nav__item">
            <a href="#" class="header__nav__link">Membership</a>
          </li>
          <li class="header__nav__item">
            <a href="#" class="header__nav__link">Travel Info & Deals</a>
          </li>
          <li class="header__nav__item">
            <a href="#" class="header__nav__link">Groups</a>
          </li>
          <li class="header__nav__item">
            <a href="#" class="header__nav__link">About</a>
          </li>
        </ul>
      </nav>
      <!-- /.header__nav -->
    </div>
  </header>
  <!-- /.header -->

  <div class="header-push"></div>
  <!-- /.header-push -->