<div class="banner">
  <div class="banner__slider">
    <div class="banner__slider-slide">
	  <figure class="banner__slider-figure">
	    <img src="/library/banner-photos/home.jpg" alt="" class="banner__slider-img" />
	  </figure>
	</div>
	<div class="banner__slider-slide">
	  <figure class="banner__slider-figure">
	    <img src="http://via.placeholder.com/1920x1080?text=Image 1" alt="" class="banner__slider-img" />
	  </figure>
	</div>
	<div class="banner__slider-slide">
	  <figure class="banner__slider-figure">
	    <img src="http://via.placeholder.com/1920x1080?text=Image 2" alt="" class="banner__slider-img" />
	  </figure>
	</div>
  </div> 
  <div class="banner__photo-info">
  <i class="banner__photo-info__icon fa fa-exclamation-circle"></i>
  <div class="banner__photo-info__text">
    <p>
    2 backpackers at YHA Christchurch
    Photo by Danielle King
    </p> 
  </div>
  </div>
  <h2 class="grid__heading text-orange banner__caption">
    <span class="icon icon--strokes-left"></span> 
    Christchurch
    <span class="icon icon--strokes-right"></span>
  </h2>
  <a class="banner__gallery--btn" href="#">
    <i class="banner__gallery--btn-icon text-blue fa fa-camera"></i>
      <span class="banner__gallery--btn-text">
        MORE PHOTOS
      </span>
  </a>
  <div class="banner__gradient">
  </div>
  <!-- /.banner__gallery-btn -->
</div>
<!-- /.banner__slider -->
<div class="banner-gallery">
  <a rel="banner-gallery" href="http://via.placeholder.com/1920x1080?text=Image 1" class="banner-gallery__slide"></a>
  <a rel="banner-gallery" href="http://via.placeholder.com/1000x1000?text=Image 2" class="banner-gallery__slide"></a>
  <a rel="banner-gallery" href="http://via.placeholder.com/500x500?text=Image 3" class="banner-gallery__slide"></a>
</div>