<!-- build:section  layouts.head -->
<!-- /build -->

  <!-- build:section recursive layouts.header.layout -->
  <!-- /build -->

  <!-- build:section recursive layouts.banner.bannerDestination -->
  <!-- /build -->

  <main class="main">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8 text-left">         
          <h1 class="main__heading">
            <span class="hr hr--orange"></span> 
            Christchurch - Gateway to New Zealand's scenic South Island!
          </h1>
          <div class="main__content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
              Voluptatum, sapiente temporibus! Vitae magni quo sed ratione
               minima nam sequi odio dolorem officia. Sit beatae cupiditate 
               possimus modi odio accusantium voluptate.
            </p>
          </div>
          <!-- /.main__content  -->
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="panel panel__bg-black ">
              <h2 class="grid__heading text-blue text-center">
                <span class="icon icon--strokes-left"></span> 
                at a glance 
                <span class="icon icon--strokes-right"></span>
              </h2>


                <ul>
                  <li>
                    <div class="panel__feature">
                    <div class="panel__icon circle-bg__icon circle-bg__icon--sm bg-orange">
                        <i class="fa fa-thumbs-up text-xxl"></i>
                      </div>
                      <div class="panel__text">
                        <h6 class="panel__title text-orange">Best known for:</h6>
                        <p class="panel__desc text-white text-md">The beautiful gardens</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="panel__feature">
                      <div class="panel__icon circle-bg__icon circle-bg__icon--sm bg-blue">
                      <i class="fa fa-star text-xxl"></i>
                      </div>
                      <div class="panel__text">
                        <h6 class="panel__title text-blue">Little known fact:</h6>
                        <p class="panel__desc text-white text-md">
                          Christchurch in one of New Zealand's 
                        </p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="panel__feature">
                      <div class="panel__icon circle-bg__icon circle-bg__icon--sm bg-green">
                        <i class="fa fa-heart text-xxl"></i>
                      </div>
                      <div class="panel__text">
                        <h6 class="panel__title text-green text-xl">Don't leave without:</h6>
                        <p class="panel__desc text-white text-md">Whale watching at Kaikoura</p>
                      </div>
                    </div>
                  </li>
              </ul>

            </div>
            <!-- /.panel -->
          </div>
        </div>   
      <div class="row text-center">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <form action="#" class="form form--inline booking-panel" method="post">
            <h2 class="form__heading text-orange text-center">
              <span class="icon icon--strokes-left"></span> 
              book my hostel
              <span class="icon icon--strokes-right"></span>
            </h2>
            <fieldset class="form__fieldset">
              <div class="form__group form__group--select">
                <label for="hostel" class="form__label form__label--sr-only">Hostel</label>
                <div class="form__input-group">
                  <label for="hostel-2" class="form__input-group-addon text-blue">
                    <i class="fa fa-bed"></i>
                  </label>
                  <select class="form__control" name="hostel" id="hostel-2">
                    <option value="">Select Hostel</option>
                    <option value="HOSTEL1">Hostel 1</option>
                    <option value="HOSTEL2">Hostel 2</option>
                    <option value="HOSTEL3">Hostel 3</option>
                  </select>
                </div>
              </div>
              
              <div class="form__group">
                  <label for="check-in-date-2" class="form__label form__label--sr-only">Check in date</label>
                  <div class="form__input-group">
                    <input type="text" class="form__control has-datepicker" name="check-in-date" id="check-in-date-2" placeholder="Check in date" autocomplete="off">
                    <label for="check-in-date-1" class="form__input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </label>
                  </div>
              </div>

              <div class="form__group">
                  <label for="check-out-date-2" class="form__label form__label--sr-only">Check out date</label>
                  <div class="form__input-group">
                    <input type="text" class="form__control has-datepicker" name="check-out-date" id="check-out-date-2" placeholder="Check out date" autocomplete="off">
                    <label for="check-out-date-1" class="form__input-group-addon"><i class="fa fa-calendar"></i></label>
                  </div>
              </div>

              <div class="form__group">
                <button type="submit" name="check-availability" value="1" class="btn btn--orange btn--hover-green btn--md btn--full-width">Check Availability</button>
              </div>

            </fieldset>
          </form>
        </div>
      </div>
      <!-- build:section recursive destination.stories -->
  <!-- /build -->
 
<!-- /.grid (related stories) -->
<!-- third party iFrame here -->
 <!-- build:section recursive destination.events -->
  <!-- /build -->

    </div>
    <!-- /.container (main content)  -->
    <!-- build:section recursive destination.nearbyHostels -->
  <!-- /build -->
<!-- /.grid (explore) -->

  </main>
  <!-- /.main -->

  <!-- build:section recursive layouts.footer.layout -->
  <!-- /build -->

<!-- build:section  layouts.body -->
<!-- /build -->